{% include base_path %}
<a class="pensee-card" href="{{ base_path }}{{ post.url }}">
  {% if post.image %}<img class="pensee-card__image" src="{{ base_path }}{{ post.image }}" alt="">{% endif %}
  <span class="pensee-card__body">
    <span class="pensee-card__title">{{ post.title }}</span>
    {% if post.subtitle %}<span class="pensee-card__subtitle">{{ post.subtitle }}</span>{% endif %}
    {% if include.full %}<span class="pensee-card__desc">{{ post.description }}</span>{% endif %}
    <span class="pensee-card__date">{{ post.date | date: "%B %Y" }}</span>
  </span>
</a>
